@import "tailwindcss";

@layer base {
  body {
    font-family: "Lato", sans-serif;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @apply xl:max-w-[1209px];
}

@utility flexCenter {
  @apply flex items-center justify-center;
}

@theme {
  --color-headerViolet: #7e33e0;
  --color-headerwhite: #f1f1f1;
  --color-headerPink: #fb2e86;
  --color-headerStroke: #e7e6ef;

  --color-heroBannerBG: #f2f0ff;
  --color-heroBannerSubText: #8a8fb9;
  --color-heroBannerCircles: #ecd2fa;

  --color-sectionTitle: #1a0b5b;

  --color-featuredGreen: #08d15f;
  --color-featuredButtonsBG: #eeeffb;
  --color-featuredBlue: #2f1ac4;
  --color-featuredLightBlue: #1389ff;
  --color-featuredPictureBG: #f6f7fb;
  --color-featuredPictureHoverBG: #f7f7f7;
  --color-featuredDescriptionText: #151875;

  --color-mainBannerBG: #f1f0ff;

  --color-trendingProductBG: #f5f6f8;

  --shadow-hektoFeatured: 0 0 25px rgba(0, 0, 0, 10%);
  --shadow-hektoOffer: 0 0 25px rgba(0, 0, 0, 5%);

  --font-josefin: "Josefin Sans", sans-serif;
  --font-lato: "Lato", sans-serif;
}
